/* Begin Reset */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}
/* End Reset */

body {
  /* Reset properties */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* End Reset properties */
  /* background-image: url("../src/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  background-color: rgb(48, 54, 80);
  background-position: center center;
  font-size: 1.4rem;
  color: black;
  font-weight: 500;
  height: 100vh;
  /* font-family: "Comic Sans MS", "Comic Sans", cursive; */
}

header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: center;
  background-color: rgb(209,210,217);
  width: 100%;
  font-family: Cormorant Infant;
  
}

.header-links {
  margin-left: 25%;
  margin-right: 3%;
  display: flex;
  align-items: center;
}

.learn {
  background-color: rgb(216, 116, 38);
  
}

.learn:hover {
  background-color: rgb(181, 97, 33);
}

.login {
  background-color: rgba(61, 130, 195, 0.75);
}

.login:hover {
  background-color:rgba(30, 91, 149, 0.75);
}

.header-links a {
  text-decoration: none;
}

.header-links button {
  margin: 0 0.5rem;
}

a {
  color: black;
}

header h1 {
  font-size: 3rem;
  /* position: absolute; */
  margin: 0 0 0 40%;
  /* left: 5rem; */
  padding: 0.5rem 0;
}

header p {
  font-size: 1.5rem;
}

section {
  margin: 0 5rem;
}

main {
  margin: 0 5rem;
}

.public {
  min-height: 100vh;
}

.public__top {
  /* position: absolute;
    top: 5rem; */
  /* margin: 3rem 0; */
  margin-top: 10%;
  max-width: 40%;
  background-color: rgba(37, 104, 168, 0.75);
  padding: 2%;
  border-radius: 2rem;
}

.public__top p {
  text-align: center;
}

.scroll-container {
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column;
  justify-content:flex-start; */
}

.public-headline {
  text-align: center;
}

.cta {
  background-color: rgba(37, 104, 168, 0.75);
  max-width: 40rem;
  padding: 2rem;
  border-radius: 2rem;
  margin-left: 10rem;
}

footer {
  position: fixed;
  bottom: 1rem;
  left: 35%;
  width: 30%;
  text-align: center;
  border-radius: 2rem;
  background-color: rgba(174, 174, 174, 0.5);
}

.next-page:hover {
  background-color: rgba(174, 174, 174, 0.6);
}

svg {
  color: lightgray;
  font-size: 3rem;
}

p:last-child {
  margin: 0;
}

.content-container {
  height: 100%;
}

section {
  height: 100vh;
}
